[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/3nadhbandaru
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/3nadhbandaru
	label-Verified = -1..+1 group user/3nadhbandaru
	push = group user/3nadhbandaru
	read = group user/3nadhbandaru
	rebase = group user/3nadhbandaru
	removeReviewer = group user/3nadhbandaru
	submit = group user/3nadhbandaru
[access "refs/heads/*"]
	create = group user/3nadhbandaru
	push = +force group user/3nadhbandaru
	pushMerge = group user/3nadhbandaru
	read = group user/3nadhbandaru
[access "refs/tags/*"]
	push = group user/3nadhbandaru
	push = +force group user/3nadhbandaru
